.faq
{
border:5px rgb(2, 2, 2) solid;
padding: 50px;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-between;
align-items:flex-start;
align-content:stretch;
height: 800px;
width: 800px;
}